:root {
  --bg: #dbd8e3;
  --card: #5c5470;
  --dark: #2a2438;
}

body {
  background-color: var(--bg);
}

header {
  background-color: var(--dark);
  color: white;
}

.card {
  background-color: var(--card);
  color: white;
}
